fastapi
uvicorn
httpx
python-dotenv
requests
supabase
python-telegram-bot[job-queue]==21.1
gunicorn
nest_asyncio==1.5.8
beautifulsoup4
Pillow
stripe
python-jose[cryptography]
passlib[bcrypt]
python-multipart
playwright==1.40.0
pytest-playwright
flask
flask-socketio
eventlet
pydantic